			<section class="posts">
<% @posts.each do |post| %>
				<article class="post">
					<div class="info">
						<h2 class="title"><%= link_to	post.title, post %></h2>
						By <%= post.author.name %>
					</div>
					<%= simple_format(truncate post.body, length: 200, separator: ' ', omission: ' ...') %>
				</article>
<% end %>
			</section>
<% if user_signed_in? %>
			<section class="actions">
				<p><%= link_to 'Create Post', new_post_path %></p>
			</section>
<% end %>